<H1><font face="Century Gothic" color="darkgray">Reservations</font></H1>

  <div id="eventContent" title="Event Details">
    <div id="eventInfo"></div>
    <p><strong><a id="eventLink" target="_blank">Read More</a></strong></p>
  </div>
  <div id='calendar'></div>